body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* all links */
#sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
#sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* nested nested links */
#sidebar .nav .nav .nav>li>a {
    padding-left: 60px;
}

/* nested nested nested links */
#sidebar .nav .nav .nav .nav>li>a {
    padding-left: 90px;
}

#sidebar .nav>.active>a {
	color: #563d7c;
}

#sidebar .nav a {
	display: inline;
}

#sidebar .nav>.collapsed {  display:none; }

#sidebar .collapser {
	display: inline;
	width: 5px;
	height: 5px;
}
