<h3>The Quickbars plugin in the Classic (iframe) editor</h3>

<textarea id="iframe">
  <p style="text-align: center; font-size: 15px;">
    <img title="TinyMCE Logo" src="//www.tiny.cloud/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" />
  </p>
  <h4 style="text-align: center;">Welcome to the Quickbars demo for TinyMCE Classic (iframe) mode</h4>
  <p>To see:</p>
  <ul>
    <li>The <strong>Quick Insert Toolbar</strong>, place the cursor at the start of an empty line in the editor.</li>
    <li>The <strong>Quick Selection Toolbar</strong>, select (highlight) any text in the editor.</li>
    <li>The <strong>Quick Image Toolbar</strong>, select (highlight) any text in the editor.</li>
  </ul>
</textarea>

<h3>The Quickbars plugin in an inline editor</h3>

<div id="inline-distraction-free" class="my-inline-editor" contenteditable="true" style="position: relative;">
  <p style="text-align: center; font-size: 15px;">
    <img title="TinyMCE Logo" src="//www.tiny.cloud/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" />
  </p>
  <h4 style="text-align: center;">Welcome to the Quickbars demo for TinyMCE Classic (iframe) mode</h4>
  <p>To see:</p>
  <ul>
    <li>The <strong>Quick Insert Toolbar</strong>, place the cursor at the start of an empty line in the editor.</li>
    <li>The <strong>Quick Selection Toolbar</strong>, select (highlight) any text in the editor.</li>
    <li>The <strong>Quick Image Toolbar</strong>, select (highlight) any text in the editor.</li>
  </ul>
</div>