.my-inline-editor:hover {
  box-shadow: 0 0 4px {{site.primaryColor}};
  border-radius: 4px;
}
.my-inline-editor:focus {
  box-shadow: 0 0 4px {{site.primaryColor}};
  border-radius: 4px;
}
.my-inline-editor {
  padding: 12px;
}
