* @tinymce/documentation-owners @tinymce/editor-platform-team

# Integration docs
/integrations/ @tinymce/documentation-owners @tinymce/editor-platform-team @tinymce/integrations-team
/_includes/integrations/ @tinymce/documentation-owners @tinymce/editor-platform-team @tinymce/integrations-team

# Content worked on by the design team
/_includes/live-demos/ @tinymce/documentation-owners @tinymce/editor-platform-team @lostkeys
/demo/ @lostkeys @tinymce/documentation-owners @tinymce/editor-platform-team
/enterprise/premium-skins-and-icon-packs/ @lostkeys @tinymce/documentation-owners @tinymce/editor-platform-team
