* @tinymce/tinymce-interns
* @tinymce/editor-platform-team
* @tinymce/high-velocity
* @tinymce/documentation-contributors
* @tinymce/documentation-team

# Integration docs
/integrations/ @tinymce/documentation-team @tinymce/editor-platform-team @tinymce/integrations-team
/_includes/integrations/ @tinymce/documentation-team @tinymce/editor-platform-team @tinymce/integrations-team

# Content worked on by the design team
/_includes/live-demos/ @tinymce/documentation-team @tinymce/editor-platform-team @lostkeys
/demo/ @lostkeys @tinymce/documentation-team @tinymce/editor-platform-team
/enterprise/premium-skins-and-icon-packs/ @lostkeys @tinymce/documentation-team @tinymce/editor-platform-team
