* @tinymce/documentation-owners @tinymce/editor-platform-team

/integrations/ @tinymce/documentation-owners @tinymce/editor-platform-team @tinymce/integrations-team
/_includes/integrations/ @tinymce/documentation-owners @tinymce/editor-platform-team @tinymce/integrations-team
