{% include template/notification.html %}
{% include template/menu.html css="body > *" %}


<style>
    .main2 {
        width: 1140px;
        margin: 0 auto;
        display: flex;
    }

    .navigation2 {
        padding: 0;
        position: relative;
        width: 250px;
        top: 0;
        overflow-y: auto;
        z-index: 1;
    }

    .navigation2 .docs-nav-container2 {
        padding-top: 16px;
    }

    .main-container2 {
        width: auto;
        flex-grow: 1;
        padding-top: 16px;
    }

    main .heading2 {
        margin-left: 0;
    }

    main .content2 {
        margin-left: 0;
    }

    .versions2 .dropdown {
        width: 210px;
    }

</style>
<div class="main2 {{ page.type }} {{ page.class }}">
    <aside class="side-nav navigation2">
        <div class="versions2">
            <div class="dropdown">
                TinyMCE v5
                <div class="dropdown-arrow"></div>
                <div class="dropdown-options">
                    <a class="link-gelato" href="/docs/">TinyMCE v5</a>
                    <a class="link-gelato" href="/docs-4x/">TinyMCE v4</a>
                    <a class="link-gelato" href="/docs-3x/">TinyMCE v3</a>
                </div>
            </div>
        </div>

        <div id="side-nav-controller">Expand Menu</div>

        <div class="docs-nav-container2">
        {% assign nav = site.data.nav | array_concat:site.data.nav_api %}
        {% include nav.html links=nav preceding_address="/" %}
        </div>
    </aside>

    <main class="main-container2">
        <div class="heading heading2">
            <h1 class="light">{{ page.title }}</h1>
            <h2 class="light">{{ page.description }}</h2>
            {% if page.url contains '/api/' %}
            <!-- Disabled since there is no git link -->
            {% else %}
            <a class="contribute link-garlic" href="https://github.com/tinymce/tinymce-docs/tree/master/{{ page.path }}">Contribute to this page<i></i></a>
            {% endif %}
            {% if page.controls %}
            {% assign controls = page.controls | split:',' %}
            <div class="badges">
                {% for control in controls %}<span class="badge-naan lg">+ {{ control }}</span> {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="content content2">
            {{ content }}
            {% include feedback.html %}
            <p class="let-us-know">
                Can't find what you're looking for?
                <a href="#" data-modal="let-us-know">
                    Let us know.
                </a>
            </p>
            {% include license.html %}
        </div>

        <div style="clear: both"></div>
    </main>

</div>

{% include_remote {{ site.origin }}/_docs/footer.html css="body > *" %}
<script src="{{ site.shared_baseurl }}/scripts/common.min.js"></script>
<script src="{{ site.shared_baseurl }}/scripts/docs.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
    docsearch({
        apiKey: 'd70977481e4a0b72eacaec1533b2d81b',
        indexName: 'tiny',
        inputSelector: '#searchInput',
        algoliaOptions: { 'facetFilters': ["tags:docs"] },
        debug: true
    });
</script>