<div class="tiny-news-docs">
        <div>
            <a href="https://go.tiny.cloud/blog/"
               data-marketing="tiny-news-blog-link"
               class="tiny-news-prefix">
                TINY BLOG
            </a>
            &gt;
            <span class="tiny-news-text">Important changes to Tiny Cloud pricing</span>
            &gt;
            <a href="https://go.tiny.cloud/blog/important-changes-to-tiny-cloud-pricing-metric/"
               data-marketing="tiny-news-pricing-blog-link" class="tiny-news-link">
                Find out more
            </a>
        </div>
    
        <div>

            <a class="utility-link" href="https://apps.tiny.cloud/cart/" data-marketing="tiny-news-cart-link">
                Cart
            </a>

            <a class="utility-link" href="https://apps.tiny.cloud/signup/" data-marketing="tiny-docs-news-back-home">
                Checkout
            </a>

            <a class="utility-link" href="/" data-marketing="tiny-docs-news-back-home">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="#FFFFFF" fill-rule="evenodd" d="M6.25 10.5L1 5.25 6.25 0l1.361 1.361-2.917 2.917h5.445C12.86 4.278 15 6.417 15 9.138 15 11.862 12.861 14 10.139 14H2.36v-1.944h7.778c1.653 0 2.917-1.264 2.917-2.917 0-1.653-1.264-2.917-2.917-2.917H4.694L7.611 9.14 6.25 10.5z"/>
                </svg>Return to Website
            </a>
        </div>
    </div>

<style type="text/css">
    .tiny-news-docs {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid #D2D2D2;
        padding: 0.5rem 2rem 0.5rem;
        text-align: center;
        color: white;
        background-color: #1976D2;
        box-sizing: border-box;
        position: relative;
        z-index: 1000;
        font-size: 0.75rem;
        align-items: center;
    }

    .tiny-news-docs a {
        color: white;
        font-weight: 900;
        text-decoration: none;
    }

    .tiny-news-docs a svg {
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: text-top;
        margin: 0 4px 0 0;
    }

    .tiny-news-docs a:hover {
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    .tiny-news-docs .utility-link {
        margin: 0 1rem 0 0;
        height: 1rem;
        line-height: 1rem;
        font-weight: 900;
        color: white;
    }

    .tiny-news-docs .utility-link:hover{
        color: white;
    }

    .tiny-news-docs .utility-link:last-child {
        margin: 0;
    }

    @media screen and (max-width: 1126px) {
        .tiny-news-docs {
            display: none;
            overflow: hidden;
            position: absolute;
        }
    }
</style>
