.demo-inline {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #626262;
  font-family: Lato;
  color: #626262;
  line-height: 1.3;
  font-size: 14px;
  background-color: #ffffff;
  text-align: left;
  vertical-align: top;
}
.demo-inline p {
  margin: 0 0;
}
.demo-inline h1 {
  color: #1976d2;
  font-family: Aileron;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0;
}
.demo-inline h2 {
  color: #1976d2;
  font-family: Aileron;
  font-size: 2em;
  font-weight: bold;
}
.demo-inline h3 {
  font-family: Aileron;
  font-size: 1.5em;
  color: #403f42;
  font-weight: bold;
  color: inherit;
}
.demo-inline h2,
.demo-inline h3 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 40px;
}
.demo-inline ul,
.demo-inline ol {
  padding-left: 20px;
}
.demo-inline ul {
  list-style: disc;
}
.demo-inline ol {
  list-style: decimal;
}
.demo-inline a {
  text-decoration: underline;
}
.demo-inline textarea {
  display: none;
}
.demo-inline .demo-inline-content {
  padding: 20px;
  text-align: left;
  vertical-align: top;
}
.demo-inline .demo-inline-content h3 {
  color: #626262;
}
.demo-inline *[contentEditable="true"]:focus,
.demo-inline *[contentEditable="true"]:hover {
  outline: 2px solid #2276d2;
}
