{% if include.collapsed %}
    <ul class="nav nav-stacked collapsed">
{% else %}
    <ul class="nav nav-stacked">
{% endif %}
{% for item in include.nav %}
    <li>
        {% if item.url %}
            <a href="{{ item.url }}">
                {{ item.text }}
            </a>
        {% elsif item.location %}
            <a href="#{{ item.id }}" data-url="{{ item.location }}" data-text="{{ item.text }}">
                {{ item.text }}
            </a>
        {% else %}
            <a href="#{{ item.id }}">
                {{ item.text }}
            </a>
        {% endif %}
        {% if item.subitems and item.collapsed%}
            <div class="collapser">+</div>
        {% endif %}
    </li>
    {% if item.subitems %}
        {% include api-nav.html nav=item.subitems collapsed=item.collapsed %}
    {% endif %}
{% endfor %}
</ul>