{% if include.data.borrows.size > 0 %}
## Extends
{% for item in include.data.borrows %}
[{{ item }}]({{ site.baseurl }}/api/class/{{ item | api_url }})
{% endfor %}
{% endif %}

{% if include.data.properties.size > 0 %}
## Properties
name | type | summary | defined by
--- | --- | --- | ---
{% for item in include.data.properties %}{{ item.name }} | {% if item.dataTypes[0] contains 'tinymce' %}[`{{ item.dataTypes[0] }}`]({{ site.baseurl }}/api/class/{{ item.dataTypes[0] | api_url }}){% else %}`{{ item.dataTypes[0] }}`{% endif %}| {{ item.desc | no_nl }} | [{{ item.definedBy }}]({{ site.baseurl }}/api/class/{{ item.definedBy | api_url }})
{% endfor %}
{% endif %}

{% if include.data.methods.size > 0 %}
## Methods
name | summary | defined by
--- | --- | ---
{% for item in include.data.methods %}[{{ item.name }}()](#{{ item.name | anchor }}) | {{ item.desc | no_nl }} | [{{ item.definedBy }}]({{ site.baseurl }}/api/class/{{ item.definedBy | api_url }})
{% endfor %}
{% endif %}

{% if include.data.events.size > 0 %}
## Events
name | summary | defined by
--- | --- | ---
{% for item in include.data.events %}[{{ item.name }}](#{{ item.name | anchor }}) | {{ item.desc | no_nl }} | [{{ item.definedBy }}]({{ site.baseurl }}/api/class/{{ item.definedBy | api_url }})
{% endfor %}
{% endif %}

{% if include.data.methods.size > 0 %}
## Methods
{% for item in include.data.methods %}

### {{ item.name }}()
```js
{{ include.data.name }}#{{ item.signature }}
```

{{ item.desc | no_nl }}

{% if item.examples.size > 0 %}
##### Examples

{% for example in item.examples %}
```js
{{example.content}}
```
{% endfor %}
{% endif %}

{% if item.params.size > 0 %}
##### Parameters

{% for param in item.params %}* `{{ param.name }}` ({% if param.types[0] contains 'tinymce' %}[{{ param.types[0] }}]({{ site.baseurl }}/api/class/{{ param.types[0] | api_url }}){% else %}`{{ param.types[0] }}`{% endif %}) - {{ param.desc | no_nl }}
{% endfor %}
{% endif %}

{% if item.return.types.size > 0 %}
##### Return value

{% for type in item.return.types %}* {% if type contains 'tinymce' %}[`{{ type }}`]({{ site.baseurl }}/api/class/{{ type | api_url }}){% else %}`{{ type }}`{% endif %} - {{ item.return.desc | no_nl }}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}

{% if include.data.events.size > 0 %}
## Events

{% for item in include.data.events %}
### {{ item.name }}
{{ item.desc | no_nl }}

{% if item.params.size > 0 %}
##### Parameters

name | type | description
--- | --- | ---
{% for param in item.params %}{{ param.name }} | {% if param.types[0] contains 'tinymce' %}[`{{ param.types[0] }}`]({{ site.baseurl }}/api/class/{{ param.types[0] | api_url }}){% else %}`{{ param.types[0] }}`{% endif %} | {{ param.desc | no_nl }}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
