{% if page.type %}{% else %}
<div class="feedback">
  <p class="feedback-question">
    Was this article helpful? <a class="link-burrito" href="#yes">Yes</a>  - <a class="link-burrito" href="#no">No</a>
  </p>
  <p class="feedback-no">
    {% capture issue_body %}> *affected page: {{ site.origin }}{{ site.baseurl }}{{ page.url }}*{% endcapture %}
    {% capture issue_title %}Problem with page {{ page.path }}{% endcapture %}
    Well, that's awkward <i class="em em-sweat_smile"></i>. Would you mind
    <a class="link-burrito" data-action="feedback-open-issue" href="https://github.com/tinymce/tinymce-docs/issues/new?body=%0A%0A%0A{{ issue_body | url_encode }}&title={{ issue_title | url_encode }}" target="_blank">opening an issue</a>
    or
    <a class="link-burrito" data-action="feedback-edit" href="https://github.com/tinymce/tinymce-docs/tree/main/{{ page.path }}" target="_blank">helping us out</a>?
  </p>
  <p class="feedback-yes">
    Thanks for the feedback!
  </p>
</div>
{% endif %}
