<footer class="links">
  <div class="footer-developers">
    <h4 class="light">Developers</h4>
    <hr>
    <a class="link-pizza" href="documentation.html">Documentation</a>
    <a class="link-pizza" href="download.html">Download</a>
    <a class="link-pizza" href="contribute.html">Contribute</a>
    <a class="link-pizza" href="plugin.html">Plugin</a>
  </div>

  <div class="footer-learn">
    <h4 class="light">Learn</h4>
    <hr>
    <a class="link-pizza" href="features.html">Features</a>
    <a class="link-pizza" href="forum.html">Forum</a>
    <a class="link-pizza" href="support.html">Support</a>
  </div>

  <div class="footer-about">
    <h4 class="light">About</h4>
    <hr>
    <a class="link-pizza" href="pricing.html">Pricing</a>
    <a class="link-pizza" href="team-story.html">Team &amp; Story</a>
    <a class="link-pizza" href="careers.html">Careers</a>
  </div>
</footer>

<footer class="footer-corporate">
  <a class="logo-ephox" href="http://ephox.com"></a>
  <a class="link-pizza" href="http://ephox.com">&copy; 2015 Ephox</a> |
  <a class="link-pizza" href="privacy.html">Privacy</a> |
  <a class="link-pizza" href="terms.html">Terms</a>
</footer>
