<ul class="nav nav-stacked">
{% for item in include.pages %}
	{% assign slug = item.title | downcase | replace: ' ', '-' | replace:'-&-','-' %}
	{% capture endslashslug %}{{ slug }}/{% endcapture %}
	{% capture bothslashslug %}/{{ slug }}/{% endcapture %}
    {% if page.url contains bothslashslug %}
    	{% assign active = 'active' %}
    {% else %}
    	{% assign active = nil %}
    {% endif %}
	{% capture address %}{{ include.precedingaddress }}{{ endslashslug }}{% endcapture %}
    <li class="{{ active }}">
        <a href="{{ site.baseurl }}{{ address }}">{{ item.title }}</a>
    </li>
    {% if item.pages %}
        {% include nav.html pages=item.pages precedingaddress=address%}
    {% endif %}
{% endfor %}
</ul>