<div class="tiny-news-docs">
    <div class="hide-on-mobile">
        TinyMCE 5 webinar: Q1 review, migration tips, roadmap —&nbsp;
        <a type="inverse"
           href="https://zoom.us/webinar/register/WN_15fB6GElS2iIjPCFPRaLoQ"
           data-marketing="tiny-news-webinar-link">
            Register today
        </a>
    </div>

    <div class="hide-on-desktop">
        <a type="inverse"
           href="https://zoom.us/webinar/register/WN_15fB6GElS2iIjPCFPRaLoQ"
           data-marketing="tiny-news-webinar-link">
            TinyMCE 5 webinar
        </a>
        : Q1 review, migration tips, roadmap
    </div>
</div>

<style type="text/css">

    .tiny-news-docs {
        height: 2.5rem;
        text-align: center;
        color: white;
        background-color: #1976D2;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 99999;
    }

    .tiny-news-docs a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        transition: border-bottom .25s;
    }

    .tiny-news-docs a:hover {
        border-bottom: 1px solid white;
    }

    .tiny-news-docs .hide-on-mobile {
        display: none;
        overflow: hidden;
        position: absolute;
    }

    @media screen and (min-width: 50em) {
        .tiny-news-docs .hide-on-mobile {
            display: inherit;
            overflow: inherit;
            position: inherit;
        }
    }

    @media screen and (min-width: 50em) {
        .tiny-news-docs .hide-on-desktop {
            display: none;
            overflow: hidden;
            position: absolute;
        }
    }


</style>
