<dl>
  {% for link in include.links %}
  {% unless page.url contains link.url %}
  {% assign pagePathArray = page.url | split: "/" %}
  {% assign currentPage = pagePathArray[-1] | append: "/" %}
  {% assign currentDir = page.url | remove: currentPage %}
  {% capture url %}{{currentDir}}{{link.url}}/{% endcapture %}
  {% capture path %}{{url}}index.html{% endcapture %}
  {% assign_page link_data = path %}
  {% assign titleName = link_data.title_nav | or:link_data.title %}
  {% assign itemDescription = link_data.description_short | or:link_data.description %}
  {% assign itemDescriptionLength = itemDescription | size %}
  <dt>
    <a href="{{ site.baseurl }}{{ url }}">{{ titleName }}</a>
  </dt>
  <dd>
    {{ itemDescription }}
  </dd>
  {% endunless %}
  {% endfor %}
</dl>