<div class="menu light">
  <div class="menu-inner">
    <div class="left">
      <a class="logo" href="/"></a>
      <a class="link-menu" href="/features/">Features</a>
      <a class="link-menu" href="/docs/">Documentation</a>
      <a class="link-menu" href="/forum/">Forum</a>
      <a class="link-menu" href="/pricing/">Pricing</a>
      <a class="link-menu" href="/download/">Download</a>
    </div>
    <div class="right">
      <a class="github" href="https://github.com/tinymce/tinymce"></a>
      <a class="facebook" href="https://www.facebook.com/TinyMCE-48060073471/"></a>
      <a class="twitter" href="https://twitter.com/tinymce"></a>
      <a class="link-menu" href="#signin">Sign in</a>
    </div>
  </div>
</div>
