<p>TinyMCE has two main integration modes - a "traditional" forms based mode and an inline editing mode. &nbsp;The inline editing mode is useful when creating user experiences where you want the editing view of the page to be merged with the reading view of the page. &nbsp;This creates a seamless editing experience and true WYSIWYG behaviour. &nbsp;From a technical perspective,&nbsp;in inline mode, the editor does not replace the selected element with it's own iframe, but instead edits the element's content in place instead.&nbsp;</p>
<h3>Forms-based Editing vs Inline Editing</h3>
<p>Most common TinyMCE integrations use the editor in its traditional forms based mode. &nbsp;In this integration mode the editor usage is as a form field that must be filled out to provide content. &nbsp;The editor is always visible as part of the form to be edited.</p>
<p>Inline editing mode blends the editable view with the readable view of the page. &nbsp;Elements are replaced inline with an editor once clicked rather than the editor always being visible.</p>
<p>Most significantly, when using inline editing TinyMCE is&nbsp;<em><strong>not</strong></em> isolated from the page by virtue of being encapsulated within an iframe. &nbsp;This has the advantage of ensuring that the content within the editor inherits the surrounding page's styles when presenting the content.</p>
<p>Since the editor is not sandboxed in an iframe in inline editing mode, CSS styles for the editor's content will be inherited from the page that the editor is on. &nbsp;This allows you to edit content exactly as it appears within the context of the page, providing a true WYSIWYG editing experience.</p>
<h3>Inline Editing and Complex Stylesheets</h3>
<p>When using TinyMCE in inline mode it will inherit the CSS stylesheet from the page it is embedded in. While this is advantageous in providing a true WYSIWYG view of the content it can result in user confusion when working with complex CSS. This is because your site's CSS is now applying directly to the editor and may result in behaviour that the user doesn't expect. When using the editor in inline mode care should be taken when using styling that depends on structures within the editor. For example:</p>
<p>If you had a class like this:</p>
<pre class="js">h1 strong{
    color:orange;
}</pre>
<p>This would make the phrase "bold text" bold and orange in the structure:</p>
<pre class="js">&lt;h1&gt;This text is &lt;strong&gt;bold text&lt;/strong&gt; in a heading&lt;/h1&gt;</pre>
<p>If the user changed the heading to a paragraph or a different heading level then the text color of the bold text would, unexpectedly, change for the user. While this is entirely correct behaviour according to the stylesheet it is entirely unexpected from the user's perspective.</p>
<h3>Enabling Inline Editing Mode</h3>
<p>Enabling inline editing mode is quite simple. Setting the "inline" configuration property to true is all that's needed in combination with a normal selector. An example of this is as follows:</p>
<pre class="js">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;script type="text/javascript" src="&lt;your installation path&gt;/tinymce/tinymce.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
        tinymce.init({
            selector: "#myeditablediv",
            inline: true
        });
    &lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;TinyMCE Inline Editing Mode Guide&lt;/h1&gt;
    &lt;form method="post"&gt;
        &lt;div id="myeditablediv"&gt;Click here to edit!&lt;/div&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
<p><a href="/tryit/inline.php">Try it out now!</a></p>