<textarea id="emoticons">
  <p>To insert the 🙂 emoji, either:</p>
  <ul>
    <li>Start typing <code>:slightly_smiling_face</code>, and press <em>Enter</em> or&nbsp;<em>Return</em> to add the highlighted emoji, or click the desired emoji,</li>
    <li>Select the emoticons toolbar button and click the emoji in the emoticons dialog, or</li>
    <li>Open the <strong>Insert</strong> menu, select the <strong>Emoticons...</strong> option, and click the emoji in the emoticons dialog.</li>
  </ul>
</textarea>