<div style="min-height: 470px;">
  <p style="margin-top: 20px;"><strong>Current user:</strong> <span id=fakedemouser1></span><br /><strong>Collaborator
      (user in the other editor):</strong> <span id=otherfakeuser1></span></p>
  <div id="editor1" style="display: none;" rtc-editor-parent>
    <textarea id="rtc-editor-1" rtc-editor>
      <h2 style="text-align: center;">Welcome to the TinyMCE editor demo!</h2>
    </textarea>
  </div>
</div>
<div style="min-height: 470px;">
  <p style="margin-top: 20px;"><strong>Current user:</strong> <span id=fakedemouser2></span><br /><strong>Collaborator
      (user in the other editor):</strong> <span id=otherfakeuser2></span></p>
  <div id="editor2" style="display: none;" rtc-editor-parent>
    <textarea id="rtc-editor-2" rtc-editor>
      <h2 style="text-align: center;">Welcome to the TinyMCE editor demo!</h2>
    </textarea>
  </div>
</div>