<div>
  <div id="editor1" style="display: none;" rtc-editor-parent>
    <textarea id="rtc-editor-1" rtc-editor>
      {{site.logoForDemosHTML}}
      <h2 style="text-align: center;">Welcome to the TinyMCE editor demo!</h2>
      <p>Look at me!</p>
    </textarea>
  </div>
  <div id="editor2" style="display: none;" rtc-editor-parent>
    <textarea id="rtc-editor-2" rtc-editor>
      {{site.logoForDemosHTML}}
      <h2 style="text-align: center;">Welcome to the TinyMCE editor demo!</h2>
      <p>Look at me!</p>
    </textarea>
  </div>
</div>