<div class="live_demo inline_demo">
  <button class="drive-standalone-upload">Upload</button>
  <div class="live_demo_progress">0%</div>
</div>
<div id="upload-done"></div>

<div class="drive-standalone">
  <button class="drive-standalone-browse">Browse</button>
</div>

<div class="live_demo inline_demo">
  <input class="drive-standalone-input" />
  <button class="drive-standalone-pick">Pick file</button>
</div>
<div class="inline_demo" style="align-content: center;">
  <img class="drive_output" width="200"/>
</div>