body .mce-edit-aria-container>.mce-container-body .mce-sidebar-panel {
  width: 30%;
  max-width: 30%;
}

#tinycomments-save-debug-ui .comments {
  display: block;
  font-family: monospace;
  color: white;
  background: black;
  padding: 10px;
  width: 100%;
  height: 300px;
}
