.tinydrive-standalone-demo {
  display: flex;
}

.tinydrive-standalone-demo-percent {
  padding: 0.5rem 3rem;
  border-radius: 0.1875rem;
  font-size: 1em;
  font-weight: 700;
}

.tinydrive-standalone-demo button {
  border: 1px solid gray;
  padding: 0.5rem 3rem;
  background: rgb(25, 118, 210);
  border: 1px solid rgb(25, 118, 210);
  border-radius: 0.1875rem;
  font-size: 1em;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.tinydrive-standalone-demo input {
  border: 1px solid gray;
  width: 50%;
  padding: 3px;
  margin-right: 3px;
}