<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TinyMCE - {{ page.title }}</title>
  <link href="{{site.shared_baseurl}}/css/shared.css" rel="stylesheet">
  <link href="{{site.shared_baseurl}}/css/docs.css" rel="stylesheet">
</head>
<body role="document">
  {% include top-menu.html %}

  <div class="top-bar">

  </div>

  <div class="main {{ page.type }}">
    <aside class="side-nav">
      {% include nav.html links=site.data.nav preceding_address="/" %}
    </aside>

    <div class="heading">
      <h1 class="light">{{ page.title }}</h1>
      <h2 class="light">{{ page.description }}</h2>
    </div>

    <div class="content">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{site.shared_baseurl}}/scripts/docs.js"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <link href="http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/{{site.syntax_highlight_theme}}.css" rel="stylesheet">
</body>
</html>
