<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TinyMCE - {{ page.title }}</title>
  <link href="https://bootswatch.com/readable/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/syntax.css" rel="stylesheet">
  {{ if page.css }}
  <link href="{{site.baseurl}}/css/{{page.css}}" rel="stylesheet">
  {{ endif }}
</head>
<body role="document">

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TinyMCE</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Try It</a></li>
          <li><a href="#">Download</a></li>
          <li class="active"><a href="#">Documentation</a></li>
          <li><a href="#">Enterprise</a></li>
          <li><a href="#">Develop</a></li>
          <li><a href="#">Forum</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container theme-showcase" role="main">
    <div class="col-xs-9">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="col-xs-3">
      <div id="sidebar">
        {% include nav.html pages=site.data.nav preceding_address="/" %}
      </div>
    </div>

		<footer class="col-xs-12">
			<h4>Footer</h4>
			<ul>
				<li>Disqus</li>
				<li>footer</li>
				<li>github</li>
				<li>helpful (YES/NO) -> NO -> Github Issue</li>
			<ul>
		</footer>

  </div>
</body>
</html>
