<textarea id="paste-from-word">
  <h2>
    <span class="span">
        <img src="//www.tiny.cloud/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" style="float: right">
    </span>
    <span style="color: #828282; font-size: 35px; font-family: avenir; font-weight: 200;">TinyMCE demo: PowerPaste plugin!</span>
</h2>
<p style="color: #7e7e7e; font-size: 15px; font-family: avenir;font-weight: 500;">PREMIUM PLUGIN: The TinyMCE  <a  href="https://www.tiny.cloud/docs/enterprise/paste-from-word/">PowerPaste plugin</a> automatically cleans up and transfers content & images from Microsoft Word and HTML sources to ensure clean, compliant content that matches the look and feel of the site.</p>
  
<p style="color: #7e7e7e; font-size: 15px; font-family: avenir;font-weight: 500;">COPY AND PASTE FROM WORD or EXCEL</p>
<ol style="color: #7e7e7e; font-size: 14px; font-family: avenir;font-weight: 500;">
<li>Copy and paste content from MS Word or Excel into this editor.</li>
<li>Choose Remove Formatting (remove inline styles) or Keep Formatting (keep inline styles)</li>
</ol>
<p style="color: #7e7e7e; font-size: 15px; font-family: avenir;font-weight: 500;">COPY AND PASTE FROM WEBSITE OR HTML SOURCES</p>
<ol style="color: #7e7e7e; font-size: 14px; font-family: avenir;font-weight: 500;">
<li>Copy and paste content from website content into this editor.</li>
<li>Choose Remove Formatting (remove inline styles) or Keep Formatting (keep inline styles)</li>
</ol>
<p style="color: #7e7e7e; font-size: 15px; font-family: avenir;font-weight: 500;">DRAG AND DROP IMAGE</p>
<ol style="color: #7e7e7e; font-size: 14px; font-family: avenir;font-weight: 500;">
<li>Drag a local image into this editor.</li>
</ol>
  <p>---------------------------------------------------------------------</p>
  <h2 style="color: #7e7e7e; font-size: 20px; font-family: avenir;font-weight: 500;">Got questions or need help?</h2>

  <ul style="color: #7e7e7e; font-size: 14px; font-family: avenir;font-weight: 500;">
    <li>Our <a href="https://www.tiny.cloud/docs/">documentation</a> is a great resource for learning how to configure TinyMCE.</li>
    <li>Have a specific question? Visit the <a href="https://community.tinymce.com" target="_blank">Community Forum</a>.</li>
    <li>We also offer enterprise grade support as part of <a href="https://www.tiny.cloud/pricing">TinyMCE Enterprise</a>.</li>
  </ul>

  <p style="color: #7e7e7e; font-size: 14px; font-family: avenir;font-weight: 500;">
    Thanks for supporting TinyMCE! We hope it helps you and your users create great content.<br>All the best from the TinyMCE team.
  </p>
</textarea>
