.demo-dfree {
  position: relative;
  width: 690px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #626262;
  font-family: Lato;
  font-size: 14px;
  padding: 20px;
}
.demo-dfree *[contentEditable="true"]:hover {
  outline: 1px solid #2276d2;
}
.demo-dfree h1 {
  color: #1976d2;
  font-family: Aileron !important;
  font-size: 2em;
  font-weight: bold;
}
.demo-dfree h2 {
  color: #1976d2;
  font-family: Aileron;
  font-size: 2em;
  font-weight: bold;
}
.demo-dfree h3 {
  font-size: 1.5em;
  color: #403f42;
  font-weight: bold;
  color: inherit;
  font-family: Aileron;
}
.demo-dfree h2,
.demo-dfree h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 40px;
}
.demo-dfree ul,
.demo-dfree ol {
  padding-left: 20px;
}
.demo-dfree ul {
  list-style: disc;
}
.demo-dfree ol {
  list-style: decimal;
}
.demo-dfree a {
  text-decoration: underline;
}
.demo-dfree textarea {
  display: none;
}
.demo-dfree .dfree-header {
  font-size: 2.4em;
  text-align: center;
  margin: 10px;
}
.demo-dfree .dfree-body {
  padding: 20px;
  padding-top: 0px;
}
.demo-dfree .dfree-body p {
  margin-bottom: 10px;
}
.demo-dfree .dfree-body blockquote {
  margin-left: 30px;
  padding-left: 10px;
  margin-right: 40px;
  font-style: italic;
  border-left: 1px solid #696969;
}
.demo-dfree .dfree-body a {
  text-decoration: underline;
}
.demo-dfree .dfree-body td,
.demo-dfree .dfree-body tr {
  border: 1px solid #696969;
}
