<textarea id="paste-from-word">
<h2><span class="span"> <img style="float: right;" src="//www.tiny.cloud/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" /> </span>TinyMCE demo: PowerPaste plugin!</h2>
<p>PREMIUM PLUGIN: The TinyMCE <a href="https://www.tiny.cloud/docs/enterprise/paste-from-word/">PowerPaste plugin</a> automatically cleans up and transfers content &amp; images from Microsoft Word and HTML sources to ensure clean, compliant content that matches the look and feel of the site.</p>
<p>COPY AND PASTE FROM WORD or EXCEL</p>
<ol>
<li>Copy and paste content from MS Word or Excel into this editor.</li>
<li>Choose Remove Formatting (remove inline styles) or Keep Formatting (keep inline styles).</li>
</ol>
<p>COPY AND PASTE FROM WEBSITE OR HTML SOURCES</p>
<ol>
<li>Copy and paste content from website content into this editor.</li>
<li>Choose Remove Formatting (remove inline styles) or Keep Formatting (keep inline styles).</li>
</ol>
<p>DRAG AND DROP IMAGE</p>
<ol>
<li>Drag a local image into this editor.</li>
</ol>
<hr />
<h2>Got questions or need help?</h2>
<ul>
<li>Our <a href="https://www.tiny.cloud/docs/">documentation</a> is a great resource for learning how to configure TinyMCE.</li>
<li>Have a specific question? Try the <a href="{{site.communitysupporturl}}" target="_blank" rel="noopener"><code>{{site.prodnamecode}}</code> tag at Stack Overflow</a>.</li>
<li>We also offer enterprise grade support as part of <a href="https://www.tiny.cloud/pricing">TinyMCE premium plans</a>.</li>
</ul>
<p>Thanks for supporting TinyMCE! We hope it helps you and your users create great content.<br />All the best from the TinyMCE team.</p>
</textarea>
